.BreadCrumb {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
}

.link {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.link:hover .icon {
    background-color: #50caff;
}

.icon {
    display: inline-block;
    margin-right: 14px;
    background-color: #000000;
    width: 18px;
    height: 18px;
    mask-repeat: no-repeat;
    mask-position: center;
}
